-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: profis
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `profis`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `profis` /*!40100 DEFAULT CHARACTER SET utf8mb3 */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `profis`;

--
-- Table structure for table `arbeiten`
--

DROP TABLE IF EXISTS `arbeiten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arbeiten` (
  `id_arbeit` int NOT NULL,
  `matrikelnummer` bigint NOT NULL,
  `id_studiengang` int NOT NULL,
  `titel` varchar(256) DEFAULT NULL,
  `start_datum` date DEFAULT NULL,
  `abgabe_datum` date DEFAULT NULL,
  `ende_korrektur` date DEFAULT NULL,
  `kolloquium_datum` date DEFAULT NULL,
  `kolloquium_beginn_uhrzeit` time DEFAULT NULL,
  `kolloquium_ende_uhrzeit` time DEFAULT NULL,
  PRIMARY KEY (`id_arbeit`),
  KEY `fk_Arbeiten_Studierende_idx` (`matrikelnummer`),
  KEY `fk_Arbeiten_Studiengaenge1_idx` (`id_studiengang`),
  CONSTRAINT `fk_Arbeiten_Studiengaenge1` FOREIGN KEY (`id_studiengang`) REFERENCES `studiengaenge` (`id_studiengang`),
  CONSTRAINT `fk_Arbeiten_Studierende` FOREIGN KEY (`matrikelnummer`) REFERENCES `studierende` (`matrikelnummer`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arbeiten`
--

LOCK TABLES `arbeiten` WRITE;
/*!40000 ALTER TABLE `arbeiten` DISABLE KEYS */;
/*!40000 ALTER TABLE `arbeiten` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fachbereiche`
--

DROP TABLE IF EXISTS `fachbereiche`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fachbereiche` (
  `id_fachbereich` int NOT NULL,
  `name_fachbereich` varchar(45) NOT NULL,
  PRIMARY KEY (`id_fachbereich`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fachbereiche`
--

LOCK TABLES `fachbereiche` WRITE;
/*!40000 ALTER TABLE `fachbereiche` DISABLE KEYS */;
INSERT INTO `fachbereiche` VALUES (1,'Architektur - Bauingenieurwesen - Geomatik'),(2,'Informatik und Ingenieurwissenschaften'),(3,'Wirtschaft und Recht'),(4,'Soziale Arbeit und Gesundheit');
/*!40000 ALTER TABLE `fachbereiche` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noten`
--

DROP TABLE IF EXISTS `noten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `noten` (
  `id_arbeit` int NOT NULL,
  `note_arbeit_referent` decimal(10,0) DEFAULT NULL,
  `note_arbeit_korreferent` decimal(10,0) DEFAULT NULL,
  `note_kolloquium_referent` decimal(10,0) DEFAULT NULL,
  `note_kolloquium_korreferent` decimal(10,0) DEFAULT NULL,
  `id_referent` int NOT NULL,
  `id_korreferent` int NOT NULL,
  PRIMARY KEY (`id_arbeit`),
  KEY `fk_Noten_Arbeiten1_idx` (`id_arbeit`),
  KEY `fk_Noten_Referenten1_idx` (`id_referent`),
  KEY `fk_Noten_Referenten2_idx` (`id_korreferent`),
  CONSTRAINT `fk_Noten_Arbeiten1` FOREIGN KEY (`id_arbeit`) REFERENCES `arbeiten` (`id_arbeit`),
  CONSTRAINT `fk_Noten_Referenten1` FOREIGN KEY (`id_referent`) REFERENCES `referenten` (`id_referent`),
  CONSTRAINT `fk_Noten_Referenten2` FOREIGN KEY (`id_korreferent`) REFERENCES `referenten` (`id_referent`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noten`
--

LOCK TABLES `noten` WRITE;
/*!40000 ALTER TABLE `noten` DISABLE KEYS */;
/*!40000 ALTER TABLE `noten` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referenten`
--

DROP TABLE IF EXISTS `referenten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referenten` (
  `id_referent` int NOT NULL,
  `anrede` varchar(20) NOT NULL,
  `titel` varchar(45) DEFAULT NULL,
  `vorname` varchar(256) NOT NULL,
  `nachname` varchar(256) NOT NULL,
  `ist_extern_ja_nein` tinyint NOT NULL,
  `telefon` varchar(45) DEFAULT NULL,
  `mail` varchar(80) DEFAULT NULL,
  `adresse` varchar(256) DEFAULT NULL,
  `kommentar` varchar(256) DEFAULT NULL,
  PRIMARY KEY (`id_referent`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referenten`
--

LOCK TABLES `referenten` WRITE;
/*!40000 ALTER TABLE `referenten` DISABLE KEYS */;
/*!40000 ALTER TABLE `referenten` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studiengaenge`
--

DROP TABLE IF EXISTS `studiengaenge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studiengaenge` (
  `id_studiengang` int NOT NULL,
  `id_fachbereich` int NOT NULL,
  `titel_nach_abschluss` varchar(100) DEFAULT NULL,
  `art_abschluss` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_studiengang`),
  KEY `fk_Studiengaenge_Fachbereiche1_idx` (`id_fachbereich`),
  CONSTRAINT `fk_Studiengaenge_Fachbereiche1` FOREIGN KEY (`id_fachbereich`) REFERENCES `fachbereiche` (`id_fachbereich`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studiengaenge`
--

LOCK TABLES `studiengaenge` WRITE;
/*!40000 ALTER TABLE `studiengaenge` DISABLE KEYS */;
/*!40000 ALTER TABLE `studiengaenge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studierende`
--

DROP TABLE IF EXISTS `studierende`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studierende` (
  `matrikelnummer` bigint NOT NULL,
  `vorname` varchar(256) DEFAULT NULL,
  `nachname` varchar(256) DEFAULT NULL,
  `mail` varchar(80) DEFAULT NULL,
  `scheinfrei_ja_nein` tinyint DEFAULT NULL,
  `id_studiengang` int DEFAULT NULL,
  PRIMARY KEY (`matrikelnummer`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studierende`
--

LOCK TABLES `studierende` WRITE;
/*!40000 ALTER TABLE `studierende` DISABLE KEYS */;
/*!40000 ALTER TABLE `studierende` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-08 18:54:54
